html{
  overflow-x:hidden !important;
  font-family: 'Catamaran', sans-serif;
}
.font-catamaran{
  font-family: 'Catamaran', sans-serif;
  font-weight: 200;
}
#cubebackgr{
  background-size: contain;
  background: url("https://blackrockdigital.github.io/startbootstrap-new-age/img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}
/* NAV */
nav{
  height: 100px;
}
#start{
  color: #fdcc52;
  font-size: 20px;
  position: relative;
  top: 50%;
  transform:translateY(-50%);
  padding-left: 0;
}
#menubar{
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  color: white;
  position: relative;
  top: 50%;
  transform:translateY(-50%);
  padding: 0;
}
#menubar span{
  padding: 0 5px;
}
#menubar #last{
  padding-right: 0;
}

/* FIRST BLOCK cube backgr */
.firstblock{
  height: 700px;
}
#firstrow{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#bigdescr{
  font-size: 45px;
  color: white;
}
#smalldescr{
  padding-top: 20px;
  font-size: 25px;
  color: white;
}
#bigdescr button{
  font-size: 11px;
  padding: 15px 45px;
  border-radius: 300px;
  border: 1px solid white;
  background-color: transparent;
  outline: none;
}
#modeltel{
  padding-right: 5%;
}
.iphone{
  position: relative;
}
.screen{
  width: 80%;
  position: absolute;
  top: 49.5%;
  left: 49%;
  transform: translate(-50% , -50%);
}
.sec-image{
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -0%);
}
.sec-div{
  padding: 40px 0px;
}
.pad-top-10{
  padding-top: 10px;
}
/* SECOND BLOCK yellow backgr */
.yellowbackgr{
  width: 100%;
  background-color: #FDCC50;
}
.margin-bottom{
  margin-bottom: 100px;
}
.yellowbackgr h1{
  display: block;
  font-size: 70px;
  margin-top: 100px;
}
.googleshop, .appshop{
  padding: 0;
}
.googleshop{
  padding-right: 1%;
}
.yellowbackgr .applestore{
  width: 100%;
  /* ho messo questa proprietà perché non faceva normalmente e non capisco perché */
}

/* THIRD BLOCK  white backgr*/
.withoutbackgr #maintitle{
  font-size: 50px;
  margin-top: 100px;
}
.withoutbackgr p{
  font-size: 18px;
  color: rgb(108, 117, 125);
}
.withoutbackgr hr{
  width: 10%;
  margin-bottom: 100px;
}
i[class^="fas fa-"]{
  font-size: 100px;
}

/* FOURTH BLOCK with photo backgr */
.picbackgr{
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1531664677158-ade5ea5a49c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a3beed06d37b777cd5b495e88499acf&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay .row{
  padding: 250px 0;
  margin-left: 5%;
}
.overlay div{
  display: inline-block;
}
.picbackgr h2{
  font-size: 80px;
  color: white;
}
.picbackgr button{
  color: white;
  font-size: 11px;
  padding: 15px 45px;
  background-color: transparent;
  border-color: 1px solid white;
  border-radius: 300px;
  outline: none;
  border-style: solid;
}

/* FIFTH BLOCK SECOND YELLOW */
.yellowbackgr h2{
  font-size: 50px;;
}
.yellowbackgr .row.centered{
  padding: 40px 0;
}
.yellowbackgr .fa-heart{
  color: red;
  font-size: 50px;
}
.yellowbackgr .background-icon-settings{
  display: inline-block;
  width: 80px;
  color: white;
  margin: 0 1%;
  border-radius: 50%;
  font-size: 40px;
  padding:10px 20px;
}
.background-icon-settings.whatsapp{
  background-color: #2cb742;
}
.background-icon-settings.facebook{
  background-color: #3B5998;
}
.background-icon-settings.google{
  background-color: #DD4B39;
}
.white-color{
  color:#fff !important;
}

/* FOOTER */
.blackbackgr{
  width: 100%;
  background-color: #222;
}
footer .row{
  padding: 10px 0;
}
footer p{
  color: rgba(255,255,255, 0.3)
}
footer .footersinfo{
  font-size: 11px;
  color: rgba(255,255,255, 0.3);
  display: inline-block;
  padding: 0 0.5%;
}
/* MEDIAQUERIES */
@media (max-width: 992px){
  #menubar{
    display: none;
  }
  #bigdescr{
    text-align: center;
  }
  #bigdescr button{
    margin-top: 25px;
  }
  #modeltel{
    margin-top: 50px;
    padding: 0;
  }
  .googleshop img{
    width: 200px;
    display: inline-block;
  }
  .googleshop, .appshop{
    padding:  5px 0;
  }
  .img-responsive.applestore{
    width: 200px;
    display: inline-block;
  }
}
@media (max-width: 768px){
  #bigdescr{
    text-align: center;
    font-size: 30px;
  }
  .yellowbackgr h1{
    font-size: 35px;
  }
}

.ar_head{
  color: #E3C438;
  font-size: 26px;
  font-weight: 500;
}
.ar-round-image{
  border-radius: 50%;
}

